<template>
    <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_6-of-12">
            <lightning-input
                id="lease-name" 
                type="text" 
                label="Lease Name"
                required
                onchange={handleLeasenameChange}
                value={leaseName}>
            </lightning-input>
        </div>

        <div class="slds-col slds-size_6-of-12">
            <c-lease_warehouse current-warehouse={warehouse}></c-lease_warehouse>
        </div>
    </div>
    
    <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_6-of-12">
            <lightning-input 
                type="date" 
                label="Start Date" 
                value={startDateFormatted} 
                onchange={handleStarDateChange}>
            </lightning-input>
        </div>

        <div class="slds-col slds-size_6-of-12">
            <lightning-input 
                type="date" 
                disabled 
                value={endDateFormatted}
                label="End Date">
            </lightning-input>
        </div>
    </div>

    <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_6-of-12">
            <lightning-input 
                type="date" 
                label="Close Date" 
                required
                value={closeDateFormatted} 
                onchange={handleCloseDateChange}>
            </lightning-input>
        </div>

        <div class="slds-col slds-size_6-of-12">
            <lightning-input 
                type="number" 
                label="Number of Years" 
                value={numberOfYears}
                onkeyup={handleYearsChange}
                step="1">
            </lightning-input>
        </div>
    </div>

    <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_6-of-12">
            <c-peskov_info_lease_account_lookup_container account-name={accountName} account-id={accountId}>
            </c-peskov_info_lease_account_lookup_container>
        </div>
        <div class="slds-col slds-size_6-of-12">
            <lightning-input
                name="graceperiod"
                label="Grace period"
                value={gracePeriodValue}
                placeholder="Select Grace Period"
                onkeyup={handleGracePeriodChange} >
            </lightning-input>
        </div>
    </div>

    <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_6-of-12">
            <c-peskov_info_lease_type lease-type={leaseType}></c-peskov_info_lease_type>
        </div>
        <div class="slds-col slds-size_6-of-12">
            <template if:true={showPrevLease}>
                <c-peskov_info_prev_lease prev-lease-name={prevLeaseName} prev-lease-id={prevLeaseId}></c-peskov_info_prev_lease>
            </template>
        </div>
    </div>



</template>