<template>
    <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_6-of-12">
            <lightning-combobox
                label="Warehouse"
                required
                value={currentWarehouse.value}
                placeholder="Select Warehouse"
                options={warehouses}
                onchange={handleChange} >
            </lightning-combobox>
        </div>
        
        <div class="slds-col slds-size_6-of-12">
            <div class="slds-form-element__label total-price">&nbsp;</div>
            <div class="slds-grid slds-gutters">
                <div class="slds-col slds-size_4-of-12">
                    Rate:&nbsp;<lightning-formatted-number 
                        value={currentWarehouse.rate} 
                        format-style="currency" 
                        currency-display-as="code"
                        currency-code="AED">
                    </lightning-formatted-number>
                </div>

                <div class="slds-col slds-size_4-of-12">
                    Size:&nbsp;<span>{currentWarehouse.size}</span>&nbsp;Sqft
                </div>

                <div class="slds-col slds-size_4-of-12">
                    <lightning-formatted-number 
                        value={currentWarehouse.totalPrice} 
                        format-style="currency" 
                        currency-display-as="code"
                        currency-code="AED">
                    </lightning-formatted-number>
                </div>
                
            </div>
        </div>
    </div>
</template>