<template>
    <lightning-input 
        type="number" 
        label="Payment Amount" 
        value={amount} 
        disabled={isDisabled}
        onchange={updateAmount}
        step="0.01">
    </lightning-input>
</template>