<template>
    <article class="slds-card">
        <header class="slds-media slds-media_center slds-has-flexi-truncate">
            <div class="slds-media__body">
                <h2 class="slds-card__header-title">
                    <a href="javascript:void(0);" class="slds-card__header-link slds-truncate" title="Accounts">
                    <span>{year.year}</span>
                    </a>
                </h2>
            </div>
        </header>

        <div class="slds-card__body slds-card__body_inner slds-border_bottom slds-border_left slds-border_right slds-border_top slds-m-bottom_small slds-p-bottom_medium">
            <div class="slds-grid slds-gutters">
                <div class="slds-col  slds-size_2-of-12">
                    <c-lease_year_payment year={year}></c-lease_year_payment>
                </div>
                <div class="slds-col slds-size_1-of-12">
                    <lightning-input 
                        type="number" 
                        label="Rate" 
                        value={year.rate}
                        formatter="currency"
                        onchange={handleRateChange}
                        step="1">
                    </lightning-input>
                </div>
                <div class="slds-col slds-size_1-of-12">
                    <lightning-input 
                        type="number" 
                        label="Size, sqft" 
                        value={year.size}
                        disabled>
                    </lightning-input>
                </div>
                <div class="slds-col slds-size_2-of-12">
                    <lightning-input 
                        type="number" 
                        label="Amount"
                        formatter="currency"
                        value={year.totalPrice}
                        disabled>
                    </lightning-input>
                </div>
            </div>

            <template for:each={innerYear.payments} for:item="payment">
                <div key={payment.id} class="slds-grid slds-gutters">
                    <div class="slds-col">
                        <c-lease_payment_method 
                                payment-id={payment.id} 
                                payment-method={payment.method}></c-lease_payment_method>
                    </div>
                    
                    <div class="slds-col"><c-lease_payment_type payment-id={payment.id} payment-type={payment.type}></c-lease_payment_type></div>
                    
                    <div class="slds-col">
                        <c-lease_payment_amount 
                                amount={payment.amountWithoutVAT}
                                is-disabled={payment.isDisabled}
                                payment-id={payment.id}>
                        </c-lease_payment_amount>
                    </div>
                </div>
            </template>
        </div>
    </article>
</template>