<template>
    <lightning-button 
        class="slds-button slds-button_brand slds-button_stretch add-lease-button"
        label={buttonName} 
        variant="brand" 
        onclick={openModal}>
    </lightning-button>

    <template if:true={isModalOpened}>
        <div class="content-container">
            <section class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <button 
                            class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" 
                            title="Close" 
                            onclick={closeModal}>

                            <lightning-icon icon-name="utility:close" size="medium">
                            </lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>

                        <c-lease_modal_header header-label={headerLabel} lease-name={leaseName}></c-lease_modal_header>
                        
                    </header>

                    <template if:true={stepCreateLease}>
                        <div class="slds-modal__content slds-p-around_medium">
                            <c-lease_create 
                                lease-name={leaseName}
                                start-date={startDate}
                                close-date={closeDate} 
                                end-date={endDate} 
                                warehouse={warehouse}
                                lease-type={leaseType}
                                account-name={accountName}
                                account-id={accountId}
                                prev-lease-name={prevLeaseName}
                                prev-lease-id={prevLeaseId}
                                number-of-years={numberOfYears}
                                grace-period={gracePeriod}>
                            </c-lease_create>
                        </div>
                    </template>

                    <template if:true={stepEditYears}>
                        <div class="slds-modal__content slds-p-around_medium">
                            <div class="slds-grid slds-gutters slds-m-bottom_medium">
                                <div class="slds-col  slds-size_2-of-12">
                                    <lightning-input 
                                        type="date" 
                                        disabled 
                                        value={startDateFormatted}
                                        label="Start Date">
                                    </lightning-input>
                                </div>
                                <div class="slds-col  slds-size_2-of-12">
                                    <lightning-input 
                                        type="date" 
                                        disabled 
                                        value={endDateFormatted}
                                        label="End Date">
                                    </lightning-input>
                                </div>
                            </div>

                            <template for:each={years} for:item="year">
                                <div class="year-container" key={year.order}>
                                    <c-lease_year year={year}></c-lease_year>
                                </div>
                            </template>
                        </div>
                    </template>

                    <footer class="slds-modal__footer">
                        <lightning-button label={prevLabel} variant="neutral" onclick={prevStep}></lightning-button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <lightning-button label={nextLabel} variant="brand" onclick={nextStep}></lightning-button>
                    </footer>

                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>
    
</template>